{
  "Off in the morning": {
      "at": "00:00:00",
      "kind": "NOTHING",
      "on": [0, 1, 2, 3, 4, 5, 6]
  },
  "Good morning": {
      "at": "07:00:00",
      "kind": "CALM",
      "on": [0, 1, 2, 3, 4]
  },
  "Homeroom soon": {
      "at": "08:26:00",
      "kind": "ALERT",
      "on": [0, 1, 2, 3, 4]
  },
  "Homeroom reminder": {
      "at": "08:30:00",
      "kind": "REMIND",
      "on": [0, 1, 2, 3, 4]
  },
  "Calm before math": {
      "at": "08:35:00",
      "kind": "CALM",
      "on": [0, 1, 2, 3, 4]
  },
  "Math soon": {
      "at": "08:56:00",
      "kind": "ALERT",
      "on": [0, 1, 2, 3, 4]
  },
  "Math reminder": {
      "at": "09:00:00",
      "kind": "REMIND",
      "on": [0, 1, 2, 3, 4]
  },
  "Calm after math": {
      "at": "09:05:00",
      "kind": "CALM",
      "on": [0, 1, 2, 3, 4]
  },
  "ELA soon": {
      "at": "10:56:00",
      "kind": "ALERT",
      "on": [0, 1, 2, 3, 4]
  },
  "ELA reminder": {
      "at": "11:00:00",
      "kind": "REMIND",
      "on": [0, 1, 2, 3, 4]
  },
  "Calm after ELA": {
      "at": "11:05:00",
      "kind": "CALM",
      "on": [0, 1, 2, 3, 4]
  },
  "Social studies soon": {
      "at": "12:56:00",
      "kind": "ALERT",
      "on": [0, 2, 4]
  },
  "Social studies reminder": {
      "at": "13:00:00",
      "kind": "REMIND",
      "on": [0, 2, 4]
  },
  "Calm after social studies": {
      "at": "13:05:00",
      "kind": "CALM",
      "on": [0, 2, 4]
  },
  "Off rest of day": {
      "at": "17:00:00",
      "kind": "NOTHING",
      "on": [0, 1, 2, 3, 4]
  }
}